@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
@import "./vendor/normalise.css";
.box {
  background-color: #fff;
  border-radius: 45px;
  padding: 1.8em;
  filter: drop-shadow(0px -4px 18px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5em;
  display: flex;
  animation: slide 1s forwards;
  cursor: pointer;
  animation: item 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}

.box:hover .box_check {
  margin-right: -1rem;
}

.menu_head {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}

.delay_2 {
  animation-delay: 0.2s;
}

.delay_1 {
  animation-delay: 0.1s;
}

@keyframes item {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.box_check {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

icon_check {
  font-size: 3rem;
  color: white;
  transition: 0.4s ease-in-out;
}

.box .box_wrapicon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.menu_item_icon {
  background-color: #99e2d0;
}

.fa-check:before {
  content: "\f00c";
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 2.6rem;
}
.footer .container .icon {
  display: flex;
  flex-direction: row;
  font-size: 38px;
  padding-left: 0.5em;
  padding-top: 0.2em;
  color: white;
}

.footer_logo {
  color: white;
  font-family: Shrikhand, "cursive";
  font-size: 2.8em;
  margin: 0.5em 0.5em 2rem;
}

.color {
  text-decoration: none;
  color: white;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  font-size: 2.6em;
}

.row {
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
}
@media (min-width: 1440px) {
  header {
    justify-content: center;
  }
}
@media (min-width: 1440px) and (min-width: 975px) {
  header {
    justify-content: center;
  }
}

header img {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.img {
  width: 100%;
  height: 513px;
  object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.load_page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px 30px 30px;
  border-radius: 15px;
  background-color: white;
  animation: fadeout 0.2s 3s forwards;
}

.animation {
  display: flex;
  margin-bottom: 5px;
}

.ball {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #bf00ff;
  animation: bounce 1s infinite;
}

.ball:nth-child(2) {
  animation-delay: 0.1s;
}

.ball:nth-child(3) {
  animation-delay: 0.2s;
}

.ball:not(:last-child) {
  margin-right: 10px;
}

.text {
  font-size: 20px;
}

@keyframes bounce {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.shadow {
  width: 100%;
  filter: drop-shadow(0px 9px 0px rgba(0, 0, 0, 0.111));
}

.padding {
  padding-left: 1em;
}

.center_belleville {
  display: flex;
  justify-content: center;
  padding: 2.4rem 0rem;
  margin-top: 0.3em;
  background-color: #EAEAEA;
  font-size: 2.9rem;
  position: relative;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.belleville_text {
  font-weight: 600;
  color: #353535;
}

.alinea {
  font-size: 66px;
  display: flex;
  padding-left: 3.6em;
  width: 53%;
  justify-content: center;
  font-weight: 900;
}
@media (min-width: 1440px) {
  .alinea {
    font-size: 66px;
    display: flex;
    justify-content: center;
    font-weight: 900;
  }
}

.reservation_menu {
  padding: 3rem;
  padding-bottom: 175px;
  padding-top: 4.8em;
  background-color: #F6F6F6;
}
@media (min-width: 1440px) {
  .reservation_menu {
    padding-bottom: 175px;
    padding-top: 4.8em;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.reservation_text {
  display: flex;
  font-size: 66px;
  font-weight: 900;
  text-align: center;
  padding-top: 1em;
  justify-content: center;
  width: 91%;
}
@media (min-width: 1440px) {
  .reservation_text {
    display: flex;
    font-size: 66px;
    justify-content: center;
    font-weight: 900;
    text-align: center;
    padding-top: 1em;
  }
}

.reservation_subtitle {
  font-weight: 100;
  color: grey;
  font-size: 2.7em;
  display: flex;
  width: 100%;
  text-align: center;
  padding-top: 0.9em;
}
@media (min-width: 1440px) {
  .reservation_subtitle {
    font-weight: 100;
    color: grey;
    font-size: 2.7em;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 0.9em;
  }
}

h1 {
  font-size: 48px;
}

.center_btn {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
  border: 0;
  width: 62%;
  margin-top: 1.9em;
  padding: 3rem;
  font-weight: 400;
  font-size: 2.9rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(1deg, rgba(143, 86, 255, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  box-shadow: 0.25rem 0.8rem 20px rgba(1, 0, 0, 0.25);
}
@media (min-width: 1440px) {
  .btn {
    display: flex;
    justify-content: center;
    border: 0;
    width: 100%;
    margin-top: 1.9em;
    font-weight: 400;
    font-size: 2.9rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(1deg, rgba(143, 86, 255, 0.9), rgba(255, 121, 218, 0.9));
    cursor: pointer;
    box-shadow: 0.25rem 0.8rem 20px rgba(1, 0, 0, 0.25);
  }
}

.police {
  font-size: 47px;
  padding: 0.9em;
  display: flex;
  font-weight: 900;
}

.title_f {
  padding-left: 0.3em;
  padding-top: 1.8em;
  font-weight: 900;
  font-size: 69px;
  padding-bottom: 50px;
}

.container_f {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

.container_r {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
}

.functioning {
  padding: 0.7em 2.5em;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .functioning {
    flex-direction: row;
    gap: 25px;
  }
}

.functioning_list {
  background-color: #F6F6F6;
  border-radius: 45px;
  padding: 1.5em;
  margin-left: 1em;
  filter: drop-shadow(11px 11px 15px rgba(0, 0, 0, 0.2));
  display: flex;
  flex-direction: row;
  margin-bottom: 3.5em;
}
@media (min-width: 1440px) {
  .functioning_list {
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
  }
}

.functioning_icon {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 55px;
}

.functioning_icon:hover {
  color: #9356DC;
  opacity: 1;
}

.number {
  width: 44px;
  align-items: center;
  display: flex;
  height: 25px;
  padding: 28px;
  padding-right: 10px;
  color: #fff;
  background: #9356DC;
  border-radius: 50%;
  margin-left: -1.6em;
  margin-right: 1em;
  font-size: 45px;
}
@media (min-width: 1440px) {
  .number {
    width: 44px;
    align-items: center;
    display: flex;
    height: 25px;
    padding: 27px;
    padding-right: 20px;
    color: #fff;
    background: #9356DC;
    border-radius: 50%;
    margin-left: -0.6em;
    margin-right: 0.8em;
    font-size: 45px;
  }
}

.restaurant_kard img {
  display: flex;
  border-radius: 2.2rem 2.2rem 0 0;
  object-fit: cover;
  height: 464px;
  border-radius: 4.2rem 4.2rem 0 0;
  object-fit: cover;
}

.column {
  display: flex;
  flex-direction: column;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 7rem 1rem;
  margin-top: 11em;
}

.h2_rest {
  padding-left: 0.6em;
  font-size: 69px;
}

.restaurants_cards {
  flex-direction: column;
  display: flex;
  padding: 0em;
  margin-left: 2em;
  margin-right: 2em;
}
@media (min-width: 1440px) {
  .restaurants_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 170px;
    padding: 25px 0 0;
  }
}

.restaurant_kard {
  background-color: #fff;
  border-radius: 4em;
  text-decoration: none;
  padding-bottom: 2em;
  margin-bottom: 4em;
  position: relative;
}

.card_title {
  text-decoration: none;
  font-size: 3.2em;
  color: black;
  padding-left: 1em;
  margin-bottom: 0.4em;
}

.kard_nouveau {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  right: 5.75rem;
  margin-top: 0.5em;
  padding: 1rem;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-size: 40px;
  border-radius: 5%;
}

.heart {
  display: flex;
  justify-content: flex-end;
  font-size: 64px;
  align-items: center;
  padding-left: 2.2em;
  padding-top: 0.5em;
}

/*.heart_2{
  opacity: 0%;
  display: flex;
  justify-content: flex-end;
  font-size: 64px;
  align-items: center;
  padding-left: 2.2em;
  padding-top: 0.5em;

}*/
/*.heart_2:hover{
  background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
  opacity: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 64px;
  align-items: center;
  padding-left: 2.2em;
  padding-top: 0.5em;
}*/
.gradient:hover {
  background: linear-gradient(0deg, #9356dc, #ff79da);
}

.row {
  display: flex;
  flex-direction: row;
}

.aside {
  width: 70%;
}

.center_div {
  display: flex;
  align-items: center;
}

.center_header {
  display: flex;
  padding-left: 16em;
}
@media (min-width: 1440px) {
  .center_header {
    padding-left: 2em;
  }
}
@media (min-width: 1440px) and (min-width: 975px) {
  .center_header {
    padding-left: 2em;
  }
}

/***********************************************/

/*# sourceMappingURL=home.css.map */
