@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
@import "./vendor/normalise.css";
.btn {
  display: flex;
  justify-content: center;
  border: 0;
  width: 47%;
  margin-top: 2em;
  padding: 1em;
  font-weight: 400;
  font-size: 2.5rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(1deg, rgba(143, 86, 255, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 15px rgba(1, 0, 0, 0.25);
}

.box {
  background-color: #fff;
  border-radius: 45px;
  padding: 1.8em;
  filter: drop-shadow(0px -4px 18px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5em;
  display: flex;
  animation: slide 1s forwards;
  cursor: pointer;
  animation: item 0.6s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}

.box:hover .box_check {
  margin-right: -1rem;
}

.menu_head {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}

.delay_2 {
  animation-delay: 0.2s;
}

.delay_1 {
  animation-delay: 0.1s;
}

@keyframes item {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.box_check {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

icon_check {
  font-size: 3rem;
  color: white;
  transition: 0.4s ease-in-out;
}

.box .box_wrapicon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.menu_item_icon {
  background-color: #99e2d0;
}

.fa-check:before {
  content: "\f00c";
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 2.6rem;
}
.footer .container .icon {
  display: flex;
  flex-direction: row;
  font-size: 38px;
  padding-left: 0.5em;
  padding-top: 0.2em;
  color: white;
}

.footer_logo {
  color: white;
  font-family: Shrikhand, "cursive";
  font-size: 2.8em;
  margin: 0.5em 0.5em 2rem;
}

.color {
  text-decoration: none;
  color: white;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  font-size: 2.6em;
}

.row {
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
}
@media (min-width: 1440px) {
  header {
    justify-content: center;
  }
}
@media (min-width: 1440px) and (min-width: 975px) {
  header {
    justify-content: center;
  }
}

header img {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.heart {
  display: flex;
  justify-content: flex-end;
  font-size: 68px;
  align-items: center;
  padding-left: 1.2em;
  padding-top: 0.2em;
}

.heart:hover {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.img {
  width: 100%;
  height: 513px;
  object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.img {
  width: 100%;
  object-fit: cover;
}

.menus {
  background-color: #f6f6f6;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 6rem;
  margin-top: 4em;
  border-radius: 100px 100px 0 0;
  margin-top: -5em;
  position: relative;
}

.font {
  font-family: "Shrikhand", cursive;
  font-size: 74px;
  padding-left: 6px;
}

.align {
  display: flex;
  flex-direction: row;
}

.menu_title {
  font-size: 43px;
  padding-top: 1.9em;
}

.underline {
  background: #99E2D0;
  width: 109px;
  height: 7px;
  margin-top: 16px;
  margin-bottom: 29px;
}

.container_f {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.box {
  background-color: #fff;
}

.police_one {
  font-size: 47px;
  display: flex;
  font-weight: 900;
}

.police_two {
  font-size: 40px;
  display: flex;
  font-weight: 100;
  align-items: center;
  flex-direction: row;
  width: 90%;
}

.align_arrow {
  display: flex;
  align-items: center;
}

.arrow {
  font-size: 3.5em;
  padding-right: 2.8em;
  padding-left: 1em;
}

.align_euros {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.euro {
  font-size: 2.8em;
  font-weight: 900;
  align-items: center;
  display: flex;
}

.euro_two {
  font-size: 1em;
}

/*# sourceMappingURL=restaurants.css.map */
