@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
@import "./vendor/normalise.css";
.btn {
  display: flex;
  justify-content: center;
  border: 0;
  width: 47%;
  margin-left: 6em;
  margin-top: 2em;
  padding: 1em;
  font-weight: 400;
  font-size: 2.2rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(1deg, rgba(143, 86, 255, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 15px rgba(1, 0, 0, 0.25);
}

.box {
  background-color: #fff;
  border-radius: 45px;
  padding: 1.8em;
  filter: drop-shadow(11px 11px 9px rgba(0, 0, 0, 0.2));
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5em;
  display: flex;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 2.6rem;
}
.footer .container .icon {
  display: flex;
  flex-direction: row;
  font-size: 38px;
  padding-left: 0.5em;
  padding-top: 0.2em;
  color: white;
}

.footer_logo {
  color: white;
  font-family: Shrikhand, "cursive";
  font-size: 2.8em;
  margin: 0.5em 0.5em 2rem;
}

.color {
  text-decoration: none;
  color: white;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  font-size: 2.6em;
}

.row {
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
}

header img {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.heart {
  display: flex;
  justify-content: flex-end;
  font-size: 70px;
  align-items: center;
  padding-left: 1.2em;
}

.heart:hover {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.img {
  width: 100%;
  height: 513px;
  object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

.img {
  width: 100%;
  object-fit: cover;
}

.menus {
  background-color: #f6f6f6;
  padding: 3rem 3rem;
  margin-top: 4em;
  border-radius: 100px 100px 0 0;
  height: 3000px;
  margin-top: -5em;
  position: relative;
  margin-bottom: 20em;
}

.font {
  font-family: "Shrikhand", cursive;
  font-size: 70px;
  padding-left: 6px;
}

.align {
  display: flex;
  flex-direction: row;
}

.menu_title {
  font-size: 40px;
  padding-top: 1.5em;
}

.underline {
  background: #99E2D0;
  width: 105px;
  height: 8px;
  margin-top: 17px;
}

.container_f {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-top: 1em;
}

.column {
  display: flex;
  flex-direction: column;
}

.box {
  background-color: #fff;
}

.police_one {
  font-size: 49px;
  padding: 0.2em;
  display: flex;
  font-weight: 900;
}

.police_two {
  font-size: 41px;
  padding: 0.2em;
  display: flex;
  font-weight: 100;
}

.align_arrow {
  display: flex;
  align-items: center;
}

.arrow {
  font-size: 3.5em;
  padding-right: 2.8em;
  padding-left: 1em;
}

.align_euros {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.euro {
  font-size: 3em;
  padding-left: 6em;
  font-weight: 900;
  align-items: center;
  display: flex;
}

.euro_two {
  font-size: 1em;
}

/*# sourceMappingURL=restaurants.css.map */
