
@import"./components/btn";
@import"./components/boxshadow";
@import"./components/footer";
@import"./components/header";
@import"./components/heart";
@import"./components/img";
@import"./components/base";







.img {
  width: 100%;
  object-fit: cover;
}


.menus {
  background-color: #f6f6f6;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 6rem;
  margin-top: 4em;
  border-radius: 100px 100px 0 0;
  margin-top: -5em;
  position: relative;

}

.font {
  font-family: "Shrikhand", cursive;
  font-size: 74px;
  padding-left: 6px;
}

.align{
  display: flex;
  flex-direction: row;
  
}

.menu_title{
  font-size: 43px;
  padding-top: 1.9em;

}

.underline{
  background: #99E2D0;
    width: 109px;
    height: 7px;
    margin-top: 16px;
    margin-bottom: 29px;
}

.container_f {
  display: flex;
  flex-direction: column;
  padding-left: 0;}

  .column {
    display: flex;
    flex-direction: column;
  }

  .box {
    background-color: #fff;
  }
  
  .police_one{
  font-size: 47px;
  padding-left: 0.2em;
  display: flex;
  font-weight: 900;}

  .police_two{
    font-size: 40px;
    padding: 0.2em;
    display: flex;
    font-weight: 100;
    width: 89%;
  }

 .align_arrow{
  display: flex;
  align-items: center;
 }

  .arrow {
    font-size: 3.5em;
    padding-right: 2.8em;
    padding-left: 1em;
  }

  .align_euros{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .euro{
    font-size: 2.8em;
    font-weight: 900;
    align-items: center;
    display: flex;
  }

  .euro_two{
    font-size: 1em;
  }
