@import"./components/btn";
@import"./components/boxshadow";
@import"./components/footer";
@import"./components/header";
@import"./components/heart";
@import"./components/img";
@import"./components/base";
@import"./components/check";



.heart {
  display: flex;
  justify-content: flex-end;
  font-size: 68px;
  align-items: center;
  padding-left: 1.2em;
  padding-top: 0.2em;
  cursor: pointer;
  position: relative;

  @media (min-width:1440px) {

    font-size: 38px;


  }
}






.img {
  width: 100%;
  object-fit: cover;
}


.menus {
  background-color: #f6f6f6;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 6rem;
  border-radius: 100px 100px 0 0;
  margin-top: -5em;
  position: relative;

  @media (min-width:1440px) {
    margin-left: 10em;
    margin-right: 10em;
    padding-left: 13em;
    border-radius: 60px 60px 0 0;
    padding-right: 13em;
  }

}

.font {
  font-family: "Shrikhand", cursive;
  font-size: 74px;
  padding-left: 6px;

  @media (min-width:1440px) {
    font-size: 36px;
    padding-left: 0;
    display: flex;

  }
}


.align {
  display: flex;
  flex-direction: row;

  @media (min-width:1440px) {
    justify-content: center;
  }
}

.menu_title {
  font-size: 43px;
  padding-top: 1.9em;

  @media (min-width:1440px) {
    font-size: 20px;
    padding-top: 4em;
  }
}

.underline {
  background: #99E2D0;
  width: 109px;
  height: 7px;
  margin-top: 16px;
  margin-bottom: 29px;

  @media (min-width:1440px) {

    width: 56px;
    height: 4px;
    margin-top: 8px;
    margin-bottom: 19px;
  }
}

.container_f {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.box {
  background-color: #fff;

  @media (min-width:1440px) {
    background: #FFFFFF;
    border-radius: 27px;
  }
}



@for $i from 1 through 10 {
  .delay-#{$i} {
    animation-delay: $i * 100ms;
  }
}








.police_one {
  font-size: 47px;
  font-weight: 900;
  display: block;
  padding-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @media (min-width:1440px) {
    font-size: 22px;
    padding-bottom: 0;
  }
}



.police_two {
  font-size: 40px;
  display: block;
  font-weight: 100;
  align-items: center;
  flex-direction: row;
  width: 90%;
  

  @media (min-width:1440px) {
    font-size: 20px;
    padding-top: 5px;
  }


}

.align_arrow {
  display: flex;
  align-items: center;
  width: 58%;
  justify-content: space-between;
}

.arrow {
  font-size: 3.5em;
  padding-right: 2.8em;
  padding-left: 1em;

  @media (min-width:1440px) {
    font-size: 1.7em;
    padding-left: 1em;

  }
}

.align_euros {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;

  @media (min-width:1440px) {}

}

.euro {
  font-size: 2.8em;
  font-weight: 900;
  align-items: center;
  display: flex;
  width: 17%;
  padding-top: 65px;

  @media (min-width:1440px) {
    font-size: 1.2em;
    width: 33%;
    padding-top: 27px;

  }
}

.euro_two {
  font-size: 1em;
}


.commander_center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.back {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @media (min-width:1440px) {
    padding-left: 0;
  }
}