header {
  
  
  display: flex;
}

header img {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  padding: 2em;
  @media (min-width:1440px) {
  
  @media (min-width:750px) {
  

  }
  
}
      
}