@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');


@import"./vendor/normalise.css";






body {
  font-family: "Roboto", sans-serif;
  min-width: 320px;
  text-decoration: none;
}

a {
text-decoration: none;
color: black;
}

