
$color-tertiary:#99e2d0;

.check {
align-items: center;
background-color: $color-tertiary;
margin-right: -9rem;
color: white;
font-size: 40px;
width: 7%;
display: flex;
justify-content: center;
align-items: center;
}


