.heart {
  display: flex;
  justify-content: flex-end;
  font-size: 68px;
  align-items: center;
  padding-left: 1.2em;
  padding-top: 0.2em;
}


.heart:hover {
  
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-text-fill-color:transparent;
  font-weight: 900;

}