header {
  
  
  display: flex;
  
  @media (min-width:1440px){
    justify-content: center;
    width: 100%;
  
   
    }
  }


header img {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  padding: 2em;
  @media (min-width:1440px) {
    height: 44px;
    
 

  }
  
}
      
